{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}

<div class="collection_description">
  <h2 id="collection_title">{{ collection.title | escape }}</h2>
  <p class="collection_paragraph">{{ collection.description }}</p>
</div>

<div id="featured_product_container">
  {% for product in collection.products limit: 6 %}
    {% assign current_variant = product.selected_or_first_available_variant %}
  
  <div class="featured_product">
    <a href="{{ product.url | within: collection }}">
      <div class="product_image_div">
        {% if product.featured_image != blank %}
          {{ product.featured_image | img_url: 'large' | img_tag: product.title, 'product_image' }}
        {% endif %}
        <div class="add_to_cart_button">
        <span js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</span>
        </div>
      </div>

      <div class="product_description">
        <p class="product_title">{{ product.title | escape }}</p>

        <span class="product_price">
          {% include 'product-price' %}
        </span>
      </div>
    </a>
    </div>
  {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
